<h1>Editing room connection</h1>

<%= render "form", room_connection: @room_connection %>

<br>

<div>
  <%= link_to "Show this room connection", @room_connection %> |
  <%= link_to "Back to room connections", room_connections_path %>
</div>
